<div class="button_container">
  @if(( getPageNumber() | async )!=0 && ( getPageNumber() | async )!=6 ){
    <app-button class="button_chapters" (click)="toChapters()" [text]="'Capítulos'"></app-button>
  }
</div>
<div class="container">
  <app-landing-page />
  <div class="button_container">
      @if(isPreviousAvailable() | async){
        <button class="button_change_page left" (click)="unShow()"><</button>
      }
      @if(isNextAvailable() | async){
        <button class="button_change_page right"(click)="show()">></button>
      }
  </div>
</div>










