.container{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.title{
  align-items: baseline;
  display: flex;
  flex-grow: 1;
  gap: .5rem;
  margin: 0;
}

.title:after{
  content: "";
  background-color: var(--page-line);
  border: none;
  display: block;
  flex-grow: 1;
  height: 2px;
}


.objective_title{
  margin: 1rem 0;
  padding: 0 1rem;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.icon{
  fill: var(--brown);
  display: flex;
  width: 20px;
  position: right;
}

.resource_container{
  padding: 0;
  list-style: none;
}

.ressource{
  display: flex;
  margin: 10px 0;
}

.ressource span{
  color: var(--brown);
  padding: 1px;
  border-bottom: 2px solid var(--green);
}

.icon{
  margin: auto 10px auto 0;
  width: 16px;
  height: 16px;
}

.objetive_content{
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
}

.translated{
  color: grey;
  margin-top: 0;
}


@media (max-width: 400px) {
  .objective_title{
    padding: 0;
  }

  .objetive_content{
    margin: 0 0 1rem 0;
  }

  .resource_container{
    margin-top: 0;
  }
}
