<div class="container">
  <h2>Bienvenue sur mon site web !!</h2>
  <p>Je m'appelle Sheila, je suis maitresse de français. J'ai créé cette plateforme en ligne pour motiver mes enfants à apprendre une nouvelle langue comme le français.</p>
  <p class="translated">Je m'appelle Sheila, je suis maitresse de français. J'ai créé cette plateforme en ligne pour motiver mes enfants à apprendre une nouvelle langue comme le français.</p>
  <img class="image" src="/assets/svg/sheila-about.svg" alt="">
  <p class="bold">Connaître d'autres cultures nous ouvre la porte de la sagesse.  </p>
  <p class="bold translated">Connaître d'autres cultures nous ouvre la porte de la sagesse.  </p>
 </div>
