<div class="page">
  <div class="title_container">
    <h2 >Je besoin l'aide de mes élèves pour retrouver mon aspect normal!</h2>
    <span class="translate">Necesito la ayuda de mis alumnos para recuperar mi aspecto normal</span>
    </div>
  <ul class="list_container">
    <li>
      <a [routerLink]="['/chapter/0']">Frozen</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/1']">Caperucita</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/2']">Ratatouille</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/0']">Frozen</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/1']">Caperucita</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/2']">Ratatouille</a>
    </li>
  </ul>
</div>
