.page{
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.title_container{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin: 30px 0 0 0;
}

.translate{
  font-size: 20px;
  font-family: var(--font-base);
  font-style: italic;
  color: grey;
  margin-top: 10px;
}


.list_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 30px auto;
  padding: 0;

}
.list_container li{
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid var(--brown);
}

.list_container li span{
  display: flex;
  margin:  10px;
  text-decoration: none;
  font-size: 20px;
  font-family: var(--font-title);
  color: var(--brown);
}


@media (max-width: 450px) {
  .translate{
    font-size: 18px;
  }

  .list_container li span{
    margin: 8px;
    font-size: 15px;
  }
}


@media (max-width: 400px) {

  .translate{
    font-size: 16px;
  }

}

@media (max-width: 350px) {

  .translate{
    font-size: 14px;
    margin-top: 5px;
  }
  .title_container{
    margin: 20px 0 0 0;
  }
  .list_container li span{
    font-size: 12px;
  }
}


@media (max-width: 300px) {
  .translate{
    font-size: 12px;
    line-height: 1.2;
  }

  .list_container li span{
    margin: 5px;
  }

}

@media (max-width: 250px) {

  .translate{
    font-size: 10px;
  }
}

