.button_container{
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0;
}

.button_container span{
  color: var(--brown);
  padding: 1px;
  border-bottom: 1px solid var(--green);
}

.icon{
  height: 16px;
  width: 16px;
  fill: var(--brown);
  margin: auto 5px auto 0;
  transform: rotate(180deg);
}

.button_container:hover{
  transform: scale(1.1);
}

.text{
  color: var(--green);
  font-size: 12px;
  font-family: var(--font-title);
}



@media (max-width: 300px) {
  .text{
    font-size: 14px;
  }
}

