.button_container{
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  position: relative;
}

.icon{
  height: 16px;
  width: 16px;
  fill: var(--green);
  margin: auto 10px;
}

.button_container:hover{
  transform: scale(1.1);
}

.text{
  color: var(--green);
  font-size: 20px;
  font-family: var(--font-title);
}


@media (max-width: 450px){
  .text{
    font-size: 19px;
  }
}

@media (max-width: 350px) {
  .text{
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  .text{
    font-size: 16px;
  }
}

