.header_container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: fit-content;
}

.image{
  height: 50px;
  width: 220px;
}

.header_container:hover{
  transform: scale(1.01);
}


@media (max-width: 400px) {
  .image{
    height: 45px;
    width: 200px;
  }
}

@media (max-width: 300px) {
  .image{
    height: 40px;
    width: 176px;
  }
}

