.header_container{
  display: flex;
  justify-content: center;
  background-image: url('/assets/svg/single-navbar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
}

.image{
  height: 70px;
  margin: auto;
}

.header_container:hover{
  transform: scale(1.01);
}


@media (max-width: 450px) {

  .image{
    height: 60px;
  }
}

@media (max-width: 400px) {

  .header_container{
    height: 80px;
  }

  .image{
    height: 50px;
  }
}

@media (max-width: 300px) {

  .header_container{
    height: 70px;
  }

  .image{
    height: 40px;
  }
}

@media (max-width: 200px) {
  .header_container{
    height: 60px;
  }

  .image{
    height: 30px;
  }
}

