.header_container{
  display: flex;
  justify-content: center;
  /* background-image: url('/assets/svg/single-navbar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* height: 100px; */
  height: 100%;
  width: fit-content;
}

.image{
  height: 50px;
}

.header_container:hover{
  transform: scale(1.01);
}



@media (max-width: 400px) {
  .image{
    height: 45px;
  }
}

@media (max-width: 300px) {
  .image{
    height: 40px;
  }
}

