

.image{
  height: 300px;
  margin: auto;
  margin-bottom: 0;
}


@media (max-width: 450px) {
  .image{
    height: 250px;
    width: 150px;
  }
}

@media (max-width: 400px) {
  .image{
    height: 230px;
    width: 140px;
  }
}

@media (max-width: 350px) {
  .image{
    height: 210px;
    width: 127px;
  }
}

@media (max-width: 300px) {
  .image{
    height: 160px;
    width: 96px;
  }
}

@media (max-width: 250px) {
  .image{
    height: 140px;
    width: 85px;
  }
}
