.container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.button_container{
  display: flex;
  margin: 1rem 0;
}


@media (max-width: 300px) {
  .container{
    margin: 0 0.5rem;
  }

  .button_container{
    margin: 10px 0;
  }

  .button_change_chapter{
    margin: 5px auto;
  }
}
