.page{
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--page);
  border-radius: 2px;
}

.wrapper{
  margin: 1rem 1rem 1.5rem 1rem;
  height: 100%;
  outline: 2px solid var( --page-line);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.title_container{
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem auto 1rem;
  line-height: 2;
}

.title::first-letter{
  color: #DF6A4E;
  background-color: var(--brown);
  padding: 10px 15px 0 15px;
  margin-right: 5px;
  border: 2px solid #425156;
  font-size: 70px;
  border-radius: 5px;
  line-height: 1.2;
 }

.image{
  display: flex;
  height: 300px;
}

.bold{
  /* animation: shine 1.5s ease-in  infinite alternate; */
}


@media (max-width: 450px) {
  .image{
    height: 250px;
  }
}


@media (max-width: 400px) {
  .image{
    height: 230px;
  }

  .title::first-letter{
    padding: 5px 10px 0 10px;
    margin-right: 5px;
    font-size: 60px;
    line-height: 1.2;
   }
}

@media (max-width: 350px) {
  .image{
    height: 200px;
  }
}

@media (max-width: 300px) {
  .image{
    height: 160px;
  }

  .title::first-letter{
    padding: 5px 10px 0 10px;
    margin-right: 5px;
    font-size: 50px;
    line-height: 1.1;
   }
}

@media (max-width: 250px) {
  .image{
    height: 140px;
  }
}

