.main_container{
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loaderContainer{
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: flex;
}

.loader{
  margin: auto;
}
