@if(chapter | async; as chapter){
  <header id="history" class="container">
    <div class="wrapper" [ngClass]="chapter.classColor ">
      <h2 class="title" [ngClass]="chapter.classColor + '_title'">{{chapter.title | translate}}</h2>
      <p>{{chapter.history | translate}}</p>
      <img class="chapter_image" src="{{chapter.image}}" alt="">
   </div>
  </header>

  @for (objective of chapter.objectives; track objective.title; let idx = $index) {
  <section id="{{idx + 1}}" class="objective_container">
    <app-objetive-page [objective]="objective" [index]="idx"/>
  </section>
  }
}
