@if(chapter$ | async; as chapter){
  <section id="history" class="container">
    <div class="wrapper">
      <h2 class="title">{{chapter.title}}</h2>

      <div class="text_container">
        <p>{{chapter.history}}</p>
      </div>

      <img class="chapter_image" src="assets/images/ressources/frozen/frozen-chapter.png" alt="">
   </div>
  </section>

  @for (objective of chapter.objectives; track objective.title; let idx = $index) {
  <section id="{{idx + 1}}" class="objective_container">
    <app-objetive-page [objective]="objective" [index]="idx"></app-objetive-page>
  </section>
  }

  <app-letter-s-svg  class="logo"></app-letter-s-svg>
}
