.container{
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  outline: 2px solid var(--frozen-color);
}

.title{
  color: var(--frozen-color);
}

.translate{
  color: grey;
}



@media (max-width: 400px) {
  .wrapper{
    margin: 0;
  }
}
