.container{
  display: flex;
  border-radius: 2px;
  margin: 1rem 0 4rem;
  min-height: calc(50svh - 55px);
  background-color: var(--page);
}

.wrapper{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  outline: 2px solid var(--frozen-color);
}


.title{
  color: var(--frozen-color);
  margin: 1rem 0;
}

.logo{
  display: flex;
  margin: 1rem 5rem;
  opacity: 0.1;
}


@media (max-width: 300px) {
  .logo{
    margin: 1rem 3rem;
  }
  .wrapper{
    outline: 1px solid var(--frozen-color);
  }
}
