.container{
  background-color: var(--brown);
  height: 100%;
  padding-bottom: 0.5rem;
}

.icon{
  height: 24px;
  width: 24px;
  fill: var(--page);
}

.text{
  font-size: 16px;
}

hr{
  height: 2px;
  background-color: var(--page);
  border: none;
  width: 100%;
  margin-bottom: 1rem;
}

.social_medial_container{
  display: flex;
  margin: 0.5rem 1rem;
}

.social_medial_container span{
  font-weight: 800;
  margin: auto 1rem;
  color: var(--page);
}
