.page{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--page);
}

.wrapper{
  display: flex;
  margin: 1.5rem 1rem;
  width: 100%;
  justify-content: center;
  outline: 2px solid var( --page-line);
}

.image{
  display: flex;
  height: 100px;
  margin: auto;
}
