<div class="page">
  <div class="border"></div>
  <div class="first-wrapper">
    <div class="second-wrapper">
      <div class="third-wrapper">

        <div class="logo_container">
          <img class="image" src="/assets/svg/letter-s.svg" alt="">
        </div>

        <span class="mosaic">
          <img class="title_image" src="/assets/svg/shreilak-title.svg" alt="">
          <!-- <span class="second-mosaic"></span>
          <span class="second-mosaic"></span>
          <span class="second-mosaic"></span> -->
        </span>
      </div>
    </div>
  </div>
</div>

