
.button_container{
  display: flex;
  margin: 1rem auto;
}
.button_chapters{
  display: flex;
  margin: auto;
}

.swiper_container{
  margin: 1rem;
}


@media (max-width: 300px) {
  .swiper_container{
    margin: 0.5rem;
  }
}
