<div class="container">
  <h2>Bienvenidos a mi página web</h2>
  <p>Me llamo Shreilak y soy maestra de Francés. He hecho esta página para contaros mi historia y deciros cómo podéis ayudarme a recuperar mi forma real.</p>
  <img class="image" src="/assets/svg/sheila-about.svg" alt="">
  <p class="bold">Conocer otras culturas abre la puerta a la sabiduría</p>

  <app-letter-s-svg class="logo"/>

  <h2 class="title">Mi historia</h2>
  <div class="swiper_container">
    <app-swiper/>
    <div class="swipe_container">
    <svg class="icon" viewBox="0 0 512 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
    <span class="text">Desliza</span>
    </div>
  </div>
</div>

