<div class="container">



  <div class="content_container">


    @if((numPage$ | async) == 0 ){
      <app-first-page/>
    }
    @if ((numPage$ | async) == 1){
      <app-second-page/>
    }
    @if((numPage$ | async)== 2){
      <app-third-page/>
    }
    @if((numPage$ | async) == 3){
      <app-fourth-page/>
    }
    @if((numPage$ | async) == 4){
      <app-fifth-page/>
    }
    @if((numPage$ | async) == 5){
      <app-sixth-page/>
    }
    @if((numPage$ | async) == 6){
      <app-seventh-page/>
    }
  </div>
  <img class="image" src="/assets/svg/page.svg" alt="page">
</div>

