<div class="container">

  <div class="content_container">
    @if(numPage === 0){
      <app-sixth-page></app-sixth-page>
    }
    @if (numPage === 1){
      <app-fifth-page></app-fifth-page>
    }
    @if(numPage === 2){
      <app-fourth-page></app-fourth-page>
    }
    @if(numPage === 3){
      <app-third-page></app-third-page>
    }
    @if(numPage === 4){
      <app-second-page></app-second-page>
    }
    @if(numPage === 5){
      <app-first-page></app-first-page>
    }
  </div>
</div>

