.container{
  height: 600px;
  width: 100%;
  cursor: grab;
}

swiper-container{
  height: 100%;
  width: 100%;
}

swiper-slide{
  padding: 0 2px;
}


@media (max-width: 400px) {
  .container{
    height: 500px;
  }
}

@media (max-width: 300px) {
  .container{
    height: 400px;
  }
}
