
<div class="container">
  <swiper-container
  css-mode="true"
  pagination="true"
  grabCursor="true"
>

  <swiper-slide><app-first-page/></swiper-slide>
  <swiper-slide><app-second-page/></swiper-slide>
  <swiper-slide><app-third-page/></swiper-slide>
  <swiper-slide><app-fourth-page/></swiper-slide>
  <swiper-slide><app-fifth-page/></swiper-slide>
  <swiper-slide><app-sixth-page/></swiper-slide>
</swiper-container>

<!--
<div class="container">
  <swiper-container
  slides-per-view="1"
  speed="500"
  css-mode="true"
  navigation="true"
  pagination="true"
  scrollbar="true"
  effect="cards"
  grabCursor="true"
  modules={[EffectCards]}
>
  <swiper-slide><app-first-page/></swiper-slide>
  <swiper-slide><app-second-page/></swiper-slide>
  <swiper-slide><app-third-page/></swiper-slide>
  <swiper-slide><app-fourth-page/></swiper-slide>
  <swiper-slide><app-fifth-page/></swiper-slide>
  <swiper-slide><app-sixth-page/></swiper-slide>
  <swiper-slide><app-seventh-page/></swiper-slide>
</swiper-container> -->

