.container{
  height: 700px;
  width: 100%;
  border: 2px solid var(--page-line);
}

swiper-container{
  height: 100%;
  width: 100%;
}


@media (max-width: 400px) {
  .container{
    height: 600px;
  }
}

@media (max-width: 300px) {
  .container{
    height: 500px;
  }
}
