.container{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.icon{
  fill: var(--brown);
  display: flex;
  width: 20px;
  position: right;
}

.resource_container{
  padding: 0;
  list-style: none;
}

.ressource{
  display: flex;
  margin: 10px 0;
}

.ressource span{
  color: var(--brown);
  padding: 1px;
}

.ressource span:after{
  content: '';
  display: flex;
  width: 100%;
  height: 1px;
  background-color: var(--green);
  border-bottom: 2px solid var(--green);

  animation: showLine linear both;
  animation-timeline: view();
  animation-range: 20% 25%;
}

.icon{
  margin: auto 10px auto 0;

  width: 16px;
  height: 16px;

  animation: appear linear both;
  animation-timeline: view();
  animation-range: 15% 20%;
}

.objetive_content{
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
}

.translated{
  color: grey;
  margin-top: 0;
}


@media (max-width: 400px) {
  .objetive_content{
    margin: 0 0 1rem 0;
  }

  .resource_container{
    margin-top: 0;
  }
}

@keyframes appear {
  0%{
      opacity: 0;
      transform: translate(-20px, -20px);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes showLine {
  0%{
      width: 0%;
  }
  100%{
    width: 100%;
  }
}
