.container{
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  justify-content: start;
}

.image_container{
  min-height: 70svh;
  margin: 1rem;
}

.svg{
  margin: auto;
  margin-bottom: 0;
}

.text{
  display: block;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
}

.button_container{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 2rem;
}

.button{
  display: flex;
  margin: 0.5rem;
}

.button span{
  margin: 0;
  margin-left: 10px;
  font-weight: 800;
  font-size: 16px;
}

.left{
  position: left;
}


.icon{
  width: 16px;
  height: 16px;
  fill: var(--green);
}


@media (max-width: 400px){
  .text{
    font-size:30px;
  }
}

@media (max-width: 300px){
  .text{
    font-size:20px;
  }
}
