.container{
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--page);
  border-radius: 2px;
}

.wrapper{
  margin: 2rem 1rem;
  padding: 0.5rem 1rem;
  height: 100%;
  position: relative;
  outline: 2px solid var( --page-line);
}

.title_container{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.translate{
  font-size: 20px;
  font-family: var(--font-base);
  font-style: italic;
  color: grey;
  margin-top: 10px;
}

.list_container{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.list_container li{
  margin: 0.5rem 0;
}


.chapter_title{
    display: flex;
    font-size: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 800;
}

.frozen{
  background-color:var(--brown);
  border: 2px solid var(--frozen-color);
  color: var(--page);
}

.caperucita{
  background-color:var(--brown);
  border: 2px solid var(--caperucita);
  color: var(--page);
}

.ratatouille{
  background-color:var(--brown);
  border: 2px solid var(--white);
  color: var(--page);
}

.list_objectives{

}
