<div class="container">

  <div class="title_container">
    <h2 >Je besoin l'aide de mes élèves pour retrouver mon aspect normal!</h2>
    <span class="translate">Necesito la ayuda de mis alumnos para recuperar mi aspecto normal</span>
    </div>
  <ul class="list_container">
    <li [routerLink]="['/chapter/0']">
      <span>Frozen</span>
    </li>
    <li  [routerLink]="['/chapter/1']">
      <span>Caperucita</span>
    </li>
    <li [routerLink]="['/chapter/2']">
      <span>Ratatouille</span>
    </li>
  </ul>
</div>
