<div class="container">
    <ul class="list_container">
      <h2 class="title">Capítulos</h2>
      <li [routerLink]="['/chapter/0']">
        <span class="chapter_title frozen">Frozen
          <svg class="icon open" viewBox="0 0 16 16" ><path fill-rule="evenodd" d="M1 8a.5.5 0 01.5-.5h11.793l-3.147-3.146a.5.5 0 01.708-.708l4 4a.5.5 0 010 .708l-4 4a.5.5 0 01-.708-.708L13.293 8.5H1.5A.5.5 0 011 8z" stroke="none"></path></svg>

        </span>
        @for(objective of chapters[0].objectives; track objective.title; let idx = $index){
          <ul class="list_objectives">
            <li>{{idx +1}} -{{objective.title}}</li>
          </ul>
        }

      </li>
      <li  >
        <span class="chapter_title caperucita">Caperucita
          <svg class="icon" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
        </span>
        <ul class="list_objectives">
          <li>1. tbd</li>
        </ul>
      </li>
      <li >
        <span class="chapter_title ratatouille">Ratatouille
          <svg class="icon" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>

        </span>
        <ul class="list_objectives">
          <li>1. tbd</li>
        </ul>
      </li>
    </ul>

</div>
