.container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.button_container{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  margin: 1rem 5rem;
  opacity: 0.1;
}

@media (max-width: 300px) {
  .container{
    margin: 0 0.5rem;
  }
  .logo{
    margin: 1rem 3rem;
  }
}
