.container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.button_container{
  display: flex;
  justify-content: space-between;
}

.button{
  display: flex;
}

.button span{
  margin: auto;
  font-weight: 800;
  font-size: 16px;
}

.left{
  position: left;
}


.icon{
  width: 16px;
  height: 16px;
  fill: var(--green);
}

.previous{
  margin: auto 5px auto 0;
  animation: move-left 1s ease-out infinite alternate;
}
.next{
  margin: auto 0 auto 10px;
  animation: move-right 1s ease-out  infinite alternate;
}

@media (max-width: 400px) {

  .button span{
    font-size: 14px;
  }

}

@media (max-width: 300px) {
  .container{
    margin: 0 0.5rem;
  }

  .button_container{
    margin: 10px 0;
  }

  .button_change_chapter{
    margin: 5px auto;
  }

  .button span{
    font-size: 12px;
  }

}


@keyframes move-left {
  0%{
      transform: translate(0);
  }
  100%{
      transform: translateX(-5px);
  }
}

@keyframes move-right {
  0%{
      transform: translate(0);
  }
  100%{
      transform: translateX(5px);
  }
}
