<div class="page">
  <div class="title_container">
    <h2 class="title">Para recuperar mi aspecto original, necesito ayudar a estos personajes.</h2>
    <span class="translate">Para recuperar mi aspecto original, necesito ayudar a estos personajes.</span>
  </div>
  <ul class="list_container">
    <li>
      <a [routerLink]="['/chapter/0']">Frozen</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/1']">Caperucita</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/2']">Ratatouille</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/0']">Frozen</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/1']">Caperucita</a>
    </li>
    <li>
      <a [routerLink]="['/chapter/2']">Ratatouille</a>
    </li>
  </ul>
  <span class="translate footer">Je besoin l'aide de mes élèves pour retrouver mon aspect normal!</span>
  <span class="translate">Necesito la ayuda de mis alumnos para recuperar mi aspecto normal</span>
</div>
